@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
*, *::after, *::before{
  box-sizing: border-box;
}

body{
  line-height: 1.5;
  font-family: "Bruno Ace SC", sans-serif;
  color: var(--bs-white);
}

.container{
  max-width: 1296px;
  margin: 0 auto;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: inherit;
}