// card
.card{
    color: #15161D;
    border: 1px solid #E3E3E3;
    padding: 1rem;
}

// button
.button{
  padding: 12px 24px;
  border-radius: 32px;
  &-white{
    background-color: var(--bs-white);
    color: var(--bs-dark);
  }
  &-dark{
    background-color: var(--bs-dark);
    color: var(--bs-white);
  }
}

.project{
  &-img{
    &--196{
      width: 196px;
      height: 196px;
    }
  }
}